* {
	font-family: Tahoma, Geneva, sans-serif;
	padding: 0px;
	margin: 0px;
}

#top {
	height: 4.5em;
	width: 100%;
	background-color: #78c57f;
	color: black;
}

#header-text {
	margin: auto;
}

#content {
	width: 100%;
	height: calc(100% - 6.5em);
	color: #d6d6d6;
	background-color: #000000;
	opacity: 0.4
	overflow: hidden;
}

#blog-text {
	width: 80%;
	height: 100%;
	background-color: #2f2f2f;
	margin-left: 10%;
}

#blog-text-offset {
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	margin-top: 0.5em;
	height: calc(100% - 7em);
	background-color: #2f2f2f;
	overflow: auto;
}

#bottom {
	width: 100%;
	height: 2em;
	background-color: #78c57f;
	color: black;
}

.fa {
	color: black;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.shadow {
  -moz-box-shadow:    0px 12px 6px 12px #899cc5;
  -webkit-box-shadow: 0px 12px 6px 12px #899cc5;
  box-shadow:         0px 12px 6px 12px #899cc5;
}

.formElem {
	margin-top: 2.5%;
}

#new-blog {
	width: 80%;
	height: 20%;
}

.gist {
	margin-top: 1em;
}

h4 {
	margin-bottom: 1em;
}

a {
	color: black;
}

#next-link {
	float: right;
	color: #d6d6d6;
}

#prev-link {
	color: #d6d6d6;
}